GROQ_API_KEY=gsk_YOUR_GROQ_API_KEY_HERE
GROQ_MODEL=llama-3.3-70b-versatile
WEBHOOK_SECRET=change-this-to-random-32-char-string
AGENT_HMAC_SECRET=change-this-to-random-32-char-string
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK
HONEYPOT_PORT=8888
WEBHOOK_PORT=8080
DASHBOARD_API_PORT=8000
SCAN_INTERVAL_SECONDS=60
HOTSPOT_SUBNET=192.168.43.0/24
